
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #000000);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.kard{
     display: flex; 
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;

}
.container2 {
    background: rgb(242, 243, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 300px;
    width: 100%;
    transform: translateZ(200px);
    margin-left: 50px; 
}

h1 {
    color: #333;
}

/* Form stillari */
form {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
    background: #4facfe;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #00c6ff;
}

/* Ob-havo ma'lumotlari */
h2 {
    margin-top: 15px;
    color: #222;
}

p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}
